
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'EB Garamond', serif;
    max-width: 1060px;
    margin: 0 auto;
    padding:10px;
}
:root {
    --main-color: #C0D6DF;
    --accent-color: #474c38;
    --text-color: white;
    --brown-color: white;
}
footer {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/3;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
    background: hsl(183, 17%, 27%);
    color: white;
    font-size: 30px;
  }
  .container {
    grid-column: 1/3;
    align-items: center;
    justify-content: center;
  }
  

#logo {
    display: flex;
    align-items: center;
    color: var(--brown-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer img{
    width:100px;
    height: 100px;

}
#logo img {
    width: 100px;
    height:100px;
   
}

#socialmedia {
    font-size: 25px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background: hsl(183, 17%, 27%);
    color: black;
    font-size: 30px;
}

.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.discover div {
    padding: 10px;
}

