@media screen and (min-width: 1050px) {

    body {
        background-color: #14213d;
    }

    /* HEADER / NAV */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav {
        margin:auto;
        grid-column: 2;
        grid-row: 1;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
    }

    #hamburger {
        display: none;
    }

    nav li {
        display: block;
        padding: 20px ;
    }


    #logo {
        grid-column: 1;
        margin: auto;
        grid-row: 1;
    }

    .socials {
        display: flex;
        gap: 10px;
        grid-column: 3;
        grid-row: 1;
        margin: auto;
    }

    .socials img {
        width: 40px;
    }


    /* MAIN */
    main {
        background-color: white;
        margin: auto;
    }

    .home {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 400px 400px 400px;
    }
    
    main section, main section div {
        background-color: #e5e5e5;
        margin: 10px;
        text-align: center;
        /* border: 2px solid #14213d; */
        height: auto;
    }

    #event {
        grid-column: 1;
        grid-row: 1;
        /* height: 428px; */
    }

    #hero {
        grid-column: 2;
        grid-row: 1/3;
        height: 661px;
    }

    #weather {
        grid-column: 1;
        grid-row: 2;
    }

    #weather_top {
        margin-bottom: 0;
        margin-top: 0;
    }

    #join {
        grid-column: 1;
        grid-row: 3;
    }

    #news {
        grid-column: 2;
        grid-row: 3;
        margin-top: -105px;
        text-align: left;
        line-height: 1.5em;
    }

    #news a {
        text-decoration: none;
        color: #3a3a3a;
    }

    #spotlights {
        grid-column: 3;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto
    }

    #spot1 img, #spot2 img, #spot3 img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        bottom: 150px;
    }

    #spot1 h3, #spot2 h3, #spot3 h3 {
        z-index: 3;
        position: relative;
        top: 125px;
        font-size: 2em;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #spotlights a {
        text-decoration: none;
    }

    #spotlights h3:hover {
        color: #fca311;
    }

    #spot1, #spot2, #spot3 {
        width: 95%;
        height: 400px;
        margin: 10px;
    }


    button:hover {
        background-color: #fca311;
        
    }

    /* FOOTER */
    #about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #about img {
        grid-column: 2;
        width: 250px;
        margin: auto;
    }

    #address {
        grid-column: 1;
        grid-row: 1;
        line-height: .5em;
    }

    #contact {
        grid-column: 3;
        grid-row: 1;
        /* line-height: .5em; */
    }

    #copyright-large {
        display: block;
    }

    .discover div:hover{
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    }

    .discover {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
    }
    #disc1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #disc2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #disc3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #disc4 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #disc5 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #disc6 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    #disc7 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #disc8 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    #disc9 {
        grid-column: 1/5;
        grid-row: 3/4;
        align-items: center;
    }
    .join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }

    tr td {
        display: table-cell;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

    .board {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .cards  {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr); */
    }
#dir1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
#dir2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#dir3 {
    grid-column: 3/4;
    grid-row: 3/4;
}
#dir4 {
    grid-column: 4/5;
    grid-row: 4/5;
}
#dir5 {
    grid-column: 5/2;
    grid-row: 2/3;
}
#dir6 {
    grid-column: 2/3;
    grid-row: 2/3;
}

}
